<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C1ABD7CC1E7BC3E400B78198</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1ACB0DA1E98F5A500A62308</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1ACB0E81E9916A500A62308</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
